$fondoHeader:#59e;
$bordeCajaColor:rgb(59, 39, 150);
$sombraHeader:#55c;
$boxShadowDivisaEntrada: rgb(212, 175, 55);
$botonFondo: #8ae;
$botonBodyHover: rgb(121, 161, 59);
$fondoFooter:gray;
$colorSalida:#ccc;

//DARK MODE
$fondoHeaderModoOscuro:#444;
$fondoBodyModoOscuro:#333;
$letraModoOscuro:#fff;
$FondoFooterModoOscuro:#444;